a{
  font-size: 23px;
  color: white;
  text-decoration: none;
  text-shadow: black;
  margin-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 5px;
}
a:hover{
  color: #0084FF;
  transition: 0.8s;
}
.menu{
  position: absolute;
  top: 0px;
  left: 780px;
  border-radius: 50px;
  background-image: url(https://learn.logikaschool.com/uploads/student/2508294/688bd27025def.jpg);
  padding-right: 70px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.a_1{
  background-color: white;
  color: black;
  border-radius: 30px;
}
.a_1:hover{
  background-color: black;
  color: white;
  border-radius: 30px;
  border: 2px solid white;
}
.bmw{
  position: absolute;
  top: 10px;
  left: 330px;
}
.img_12{
  border-radius: 20px;
  border: 4px solid black;
}
.img_13{
   border-radius: 20px;
  border: 4px solid yellow;
}
.img_im{
  position: absolute;
  top: 130px;
  left: 785px;
  background-color: #D9D9D9;
  border: 4px solid yellow;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.img_st:hover{
  background-color: blue;
  color: white;
  transition: 0.4s;
}
.img_im2{
  position: absolute;
  top: 425px;
  left: 785px;
  background-color: #D9D9D9;
  border: 4px solid yellow;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.p_im{
  position: absolute;
  top: 210px;
  left: 190px;
  color: blue;font-size: 23px;
}
.p_img{
  position: absolute;
  top: 200px;
  left: 120px;
  color: blue;font-size: 23px;
}
.p_im1{
  position: absolute;
  top: 236px;
  left: 180px;
  font-size: 23px;
  color: blue;
}
.p_im2{
  position: absolute;
  top: 222px;
  left: 180px;
  font-size: 23px;
  color: blue;
}
.p_7{
  text-align: center;
  position: absolute;
  top: 120px;
  left: 43px;
}
.p_8{
  position: absolute;
  top: 140px;
  left: 88px;
  font-size: 17px;
}
.div_1{
  border-radius: 20px;
}
.p_81{
  font-size: 12px;
  position: absolute;
  top: 130px;
  left: 35px;
}
.p_82{
  font-size: 20px;
  position: absolute;
  top: 115px;
  left: 65px;
}
.p_83{
  font-size: 13px;
  position: absolute;
  top: 130px;
  left: 30px;
}
.p_71{
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 143px;
  left: 110px;
}
.p_72{
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 140px;
  left: 130px;
}

.img_st{
  position: absolute;
  top: 25px;
  left: -20px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st2{
  position: absolute;
  top: 25px;
  left: 250px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st3{
  position: absolute;
  top: 25px;
  left: 520px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st_r2_1{
  position: absolute;
  top: 235px;
  left: -20px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st_r2_2{
  position: absolute;
  top: 235px;
  left: 250px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st_r2_3{
  position: absolute;
  top: 235px;
  left: 520px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st_r3_1{
  position: absolute;
  top: 445px;
  left: -20px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st_r3_2{
  position: absolute;
  top: 445px;
  left: 250px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st_r3_3{
  position: absolute;
  top: 445px;
  left: 520px;
  background-color: #0084FF;
  padding-bottom: 40px;
  padding-top: 10px;
  border-radius: 30px;
  border: 4px solid black;
  color: aqua;
}
.img_st:hover{
  background-color: red;
  color: white;
  transition: 0.4s;
}
.img_st2:hover{
  background: #0084ff;
background: #0084ff;
background: linear-gradient(90deg,rgba(0, 132, 255, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 1) 75%, rgba(255, 0, 0, 1) 100%);
  color: red;
  transition: 0.4s;
}
.img_st3:hover{
  background-color: #68FA00;
  color: white;
  transition: 0.4s;
}
.img_st_r2_1:hover{
  background: #4a0000;
background: linear-gradient(90deg,rgba(74, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 117, 45, 1) 75%, rgba(42, 230, 32, 1) 100%);
 color: white;
  transition: 0.4s;
}
.img_st_r2_1:hover{
  background: #4a0000;
background: linear-gradient(90deg,rgba(74, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(0, 117, 45, 1) 75%, rgba(42, 230, 32, 1) 100%);
 color: white;
  transition: 0.4s;
}
.img_st_r2_2:hover{
  background: #FF004D;
  color: white;
  transition: 0.4s;
}
.img_st_r2_3:hover{
  background: black;
  color: white;
  transition: 0.4s;
  border: 3px solid blue;
}
.img_st_r3_1:hover{
  background: #00752D;
  color: white;
  transition: 0.4s;
}
.img_st_r3_2:hover{
  background: blue;
  color: white;
  transition: 0.4s;
}
.img_st_r3_3:hover{
  background: #6B6B6B;
  color: white;
  transition: 0.4s;
}
.img_im:hover{
  background: white;
  color: black;
  transition: 0.4s;
}
.img_im2:hover{
  background: red;
  color: white;
  transition: 0.4s;
}






















